---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Servicios from '../components/Servicios.astro';
import Portafolio from '../components/Portafolio.astro';
import Team from '../components/Team.astro';
import Campaas from '../components/Campañas.astro';
---

<Layout title="Coeur Estudio Marketing">
	<main>
		<Hero />
		 <!-- NOSOTROS
		 <section class="container w-11/12 mx-auto lg:py-32 py-12" id="nosotros">
           <h2>nosotros</h2>
        </section> -->

		<!-- PORTAFOLIO	 -->
		<Portafolio />

		<!-- SERVICIOS -->
		<Servicios />

		<!-- CAMPAÑAS -->
		<Campaas />

		<!-- OUR TEAM -->
		<Team />

		<!-- CONTACTO -->
		<section class="bg-gray-100 my-12">
			<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
			<div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-2">
				<!-- <div class=" lg:py-12">
					<p class="max-w-xl text-lg">
						At the same time, the fact that we are wholly owned and totally
						independent from manufacturer and other group control gives you
						confidence that we will only recommend what is right for you.
					</p>
				</div> -->
				<div class="relative h-full w-full">
					<img
					  alt="Welcome"
					  src="images/ejemplo.jpg"
					  class="absolute inset-0 h-full w-full object-cover rounded-3xl"
					/>
				  </div>


				<div class="rounded-3xl bg-white p-8 shadow-lg  lg:p-12">

					<h2 class="text-4xl text-[#f93348] mb-1 font-bold">Contáctanos</h2>
					<p class="text-ms font-light">Discutamos tu proyecto o juntos encontremos una solución.</p>
					<div class="w-full bg-gray-300 h-px my-5"></div>

					<form action="" class="space-y-4">
						<div>
							<label class="sr-only" for="name">Nombre</label>
							<input class="w-full rounded-lg border border-gray-300 p-3 text-ms font-light" placeholder="Nombre" type="text" id="name"/>
						</div>
						<div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
							<div>
								<label class="sr-only" for="email">Email</label>
								<input class="w-full rounded-lg border border-gray-300 p-3 text-ms font-light" placeholder="Email" type="email" id="email"/>
							</div>
							<div>
								<label class="sr-only" for="phone">Teléfono</label>
								<input class="w-full rounded-lg border border-gray-300 p-3 text-ms font-light" placeholder="Teléfono" type="tel" id="phone"/>
							</div>
						</div>
						<div>
							<label class="sr-only" for="message">Mensaje</label>
							<textarea class="w-full rounded-lg border border-gray-300 p-3 text-ms font-light" placeholder="Mensaje" rows="8"id="message"></textarea>
						</div>
		
						<div class="w-full bg-gray-300 h-px my-5"></div>
						<p class="text-ms font-light">Al hacer clic en el botón, aceptas nuestras políticas de privacidad.</p>

						<div class="mt-4 ">
							<button type="submit" class="inline-block w-full rounded-lg bg-[#f93348] px-5 py-3 font-bold text-white">
								Enviar
							</button>
						</div>
					</form>
				</div>
			</div>
			</div>
		</section>

	</main>
</Layout>
