---

---

<section class=" my-12 container w-11/12 mx-auto">
    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    
        <h3 class="text-[#f93348] font-bold text-5xl pb-3">Campañas</h3>
        <p class="text-lg font-light pb-6">Personas, sus conocimientos y habilidades, en eso se basa nuestra empresa.</p>
        

        <!-- banner -->
<div class="relative h-screen" id="banner">
    <div class="swiper mySwiper3" >
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <!-- <img src="images/arte-zana.png" class="object-cover w-full h-[100dvh] bg-white"/> -->
                <video src="video/Video_3.mp4"  class="object-cover w-full h-[100dvh] bg-white"></video>
            </div>
            <div class="swiper-slide">
                <img src="images/cahita.png" class="object-cover w-full h-[100dvh]"/>
            </div>
            <div class="swiper-slide">
                <img src="images/slider-home-2.jpeg" class="object-cover w-full h-[100dvh]"/>
            </div>
            <div class="swiper-slide">
                <img src="images/gallery-28.webp" class="object-cover w-full h-[100dvh] "/>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next "></div>
        <div class="swiper-button-prev "></div>
    </div>
    
</div>

    </div>
    </section>
    