---

---

<section class="  container w-11/12 mx-auto">
    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    
        <h3 class="text-[#f93348] font-bold text-5xl pb-3">Campañas</h3>
        <p class="text-lg font-light pb-6">Campañas lanzadas al mercado anteriormente.</p>
        
        <!-- banner -->
<div class="relative h-full" id="banner">
    <div class="swiper mySwiper3" >
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <video width="800" height="400" class="object-cover w-full lg:h-[90vh] h-[40vh]" autoplay muted>
                    <source src="video/Video_3.mp4" type="video/mp4"/>
                </video>
            </div>
            <div class="swiper-slide">
                <video width="800" height="400" class="object-cover w-full lg:h-[90vh] h-[40vh]" autoplay muted>
                    <source src="video/video-flosol.m4v" type="video/mp4"/>
                </video>
            </div>
            <div class="swiper-slide">
                <video width="800" height="400" class="object-cover w-full lg:h-[90vh] h-[40vh]" autoplay muted>
                    <source src="video/higuera-golf-club.mp4" type="video/mp4"/>
                </video>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next "></div>
        <div class="swiper-button-prev "></div>
    </div>
    
</div>

    </div>
    </section>
    