---
import HeroCard from "./HeroCard.astro";


---

<!-- banner f93348 -->
<div class="relative h-screen bg-[#000] overflow-hidden" id="banner">
    <div id="blob"></div>
    <div id="blur"></div>
    <div class="absolute top-0 bottom-0 left-0 right-0  items-end px-6 p-10 lg:p-20 grid grid-cols-1">
        <div class="mx-auto w-11/12 max-w-screen-xl animation-title">
            <img src="images/SLOGAN.png" class="h-[100px]  object-contain mx-auto">
            <h1 class="hidden">Coeur Marketing Studio | Hacemos Latir tu Marca</h1>
        </div>

        <div class="container px-5 py-6 mx-auto min-h-[175px] overflow-hidden">
            <div class="flex flex-wrap text-center text-white sm:divide-x sm:divide-white text-sm md:text-lg mx-auto font-bold" id="services-hero">
                <HeroCard title="Estrategia y Gestión de Social Media" icon="images/icons/project-management.png"/>
                <HeroCard title="Diseño y desarrollo Web" icon="images/icons/web.png"/>
                <HeroCard title="Campañas creativas" icon="images/icons/commercial.png"/>
                <HeroCard title="Posicionamiento de Marca" icon="images/icons/user-location.png"/>
                <HeroCard title="Nuestro Portafolio" icon="images/icons/folder.png"/>
            </div>
        </div>

    </div>
</div>