---

---

<!-- banner -->
<div class="relative h-screen bg-[#f93348]" id="banner">
    <div class="absolute top-0 bottom-0 left-0 right-0 flex items-end px-6 p-10 lg:p-20 gradient-bg grid grid-cols-1">
        <div class="mx-auto w-11/12 max-w-screen-xl ">
            <img src="images/SLOGAN.png" class="h-[30vh] w-[80vw] object-contain mx-auto">
        </div>

        <div class="container px-5 py-6 mx-auto">
            <div class="flex flex-wrap -m-4 text-center text-white sm:divide-x sm:divide-white text-sm mx-auto">
                <div class="p-4 sm:w-1/5 w-1/2">
                    <h2 class="pb-6 "><img class="mx-auto" width="24" height="24" src="images/icons/project-management.png" alt="project-management"/></h2>
                    <p class="leading-relaxed">Estrategía y Gestión de Social Media</p>
                </div>
                <div class="p-4 sm:w-1/5 w-1/2 ">
                    <h2 class="pb-6"><img class="mx-auto" width="24" height="24" src="images/icons/web.png" alt="web"/></h2>
                    <p class="leading-relaxed">Diseño y Programación Web</p>
                </div>
                <div class="p-4 sm:w-1/5 w-1/2">
                    <h2 class="pb-6"><img class="mx-auto" width="24" height="24" src="images/icons/commercial.png" alt="commercial"/></h2>
                    <p class="leading-relaxed">Campañas Creativas</p>
                </div>
                <div class="p-4 sm:w-1/5 w-1/2">
                    <h2 class="pb-6"><img class="mx-auto" width="24" height="24" src="images/icons/user-location.png" alt="user-location"/></h2>
                    <p class="leading-relaxed">Posicionamiento de Marca</p>
                </div>
                <div class="p-4 sm:w-1/5 w-1/2">
                    <a href="#" rel="noopener noreferrer">
                        <h2 class="pb-6"><img class="mx-auto" width="24" height="24" src="images/icons/folder.png" alt="folder-invoices--v1"/></h2>
                        <p class="leading-relaxed">Nuestro Portafolio</p>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>