---

---

 <header class="py-8 fixed w-full z-20 bg-[#f93348]">
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-10 items-center justify-between">
        <div class="md:flex md:items-center md:gap-12">
            <a class="block" href="/">
                <img class="h-12" src="../../images/logo-coeur.png" alt="Logo Coeur Estudio Marketing">
            </a>
        </div>
  
        <div class="hidden md:block">
          <nav aria-label="Global">
            <ul class="flex gap-12 items-center text-ms">
                <li>
                    <a class="text-white transition" href="/">Inicio</a>
                </li>
                <li>
                    <a class="text-white transition" href="#nosotros">Nosotros</a>
                </li>
                <li>
                    <a class="text-white transition" href="#portafolio">Portafolio</a>
                </li>
                <li>
                    <a class="text-white transition" href="#blog">Blog</a>
                </li>
                <li>
                    <a class="text-white transition" href="#contacto">Contacto</a>
                </li>
            </ul>
          </nav>
        </div>

        <div class="flex items-center">
            <div class="sm:flex sm:gap-4">    
              <div class="hidden sm:flex">
                <a class=" px-5 py-2.5 text-ms font-medium text-white" href="/">
                  Hablemos! <i class="fa-solid fa-arrow-up-right-from-square px-3"></i>
                </a>
              </div>
            </div>
  
        <div class="flex items-center gap-4">  
          <div class="block md:hidden">
                <div class="md:hidden text-white text-2xl" id="btnMenu">
                    <i class="fa-solid fa-bars"></i>
                 </div>
          </div>
        </div>
      </div>
    </div>

    <nav id="menu" class="hidden h-screen items-center bg-[#f93348] mt-[-75px]">
        <ul class="flex gap-6 text-xl flex-col justify-center items-center">
            <li>
                <a class="text-white transition" href="/">Inicio</a>
            </li>
            <li>
                <a class="text-white transition" href="#nosotros">Nosotros</a>
            </li>
            <li>
                <a class="text-white transition" href="#portafolio">Portafolio</a>
            </li>
            <li>
                <a class="text-white transition" href="#blog">Blog</a>
            </li>
            <li>
                <a class="text-white transition" href="#contacto">Contacto</a>
            </li>
            <li>
                <a class="text-white" href="/">
                    Hablemos!
                  </a>
            </li>
        </ul>
    </nav>
  </header>