<!-- ---
import { getCollection } from 'astro:content';

const posts = (await getCollection('servicios')).sort();
---

<div class="bg-gray-100">
<section class=" container w-11/12 mx-auto py-20">

<div class="mx-auto max-w-screen-xl px-4 py-6 sm:px-6 lg:px-8">

    <div class="max-w-xl">
        <h2 class="text-3xl text-[#f93348] font-bold sm:text-5xl">SERVICIOS</h2>
  
        <p class="mt-4 text-ms font-light">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
          dolores iure fugit totam iste obcaecati. Consequatur ipsa quod ipsum
          sequi culpa delectus, cumque id tenetur quibusdam, quos fuga minima.
        </p>
      </div>

    <div class="mt-8 grid grid-cols-1 gap-8 md:mt-16 md:grid-cols-2 md:gap-12 lg:grid-cols-3">
    {
        posts.map((post) => (
        <article>
            <div class="flex items-start gap-4">
                <div>
                    <h2 class="text-lg font-bold"> {post.data.title}</h2>
                    <p class="mt-1 text-ms font-light">
                        {post.data.description} 
                    </p>
                    <p class="mt-1 text-ms font-light">
                        {post.data.list} 
                    </p>
                </div>
            </div>
        </article>
        ))
    }
</div>
</div>
</section>
</div>
 -->
