---
import { getCollection } from 'astro:content';

const posts = (await getCollection('team')).sort(
);
---

<section class=" mb-12 container w-11/12 mx-auto">
<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">

    <h2 class="text-[#f93348] font-bold text-5xl pb-3">Our team</h2>
    <p class="text-lg font-light">Conoce a nuestro equipo de trabajo</p>
    <div class="w-full bg-black h-px mt-3"></div>
    <div class="swiper mySwiper pt-12">
        <div class="swiper-wrapper">
            {
                posts.map((post) => (
                <div class="swiper-slide ">
                <div class="flex h-full flex-col justify-between ">
                        <div class="relative h-[350px] ">
                            <img src={post.data.heroImage} class="rounded-2xl absolute h-full w-full object-cover"  />
                        </div>
                        <div class=" flex flex-col text-center pt-6">
                            <h3 class="text-2xl font-bold text-black ">{post.data.nombre}</h3>
                            <p class="text-lg font-light text-black">{post.data.puesto}</p>
                        </div>    
                    </div>
                </div>
                ))
            }
        </div>
        <div class="swiper-button-next "></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>
</section>


<!-- <section class="lg:my-32 my-12 container w-11/12 mx-auto" id="gallery"> -->
   
<!-- </section> -->
