<!-- ---
import { getCollection } from 'astro:content';

const posts = (await getCollection('team')).sort(
);
---

<section class=" my-12 container w-11/12 mx-auto">
<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">

    <h3 class="text-[#f93348] font-bold text-5xl pb-3">Our team</h3>
    <p class="text-lg font-light">Personas, sus conocimientos y habilidades, en eso se basa nuestra empresa.</p>
    <div class="w-full bg-black h-px mt-3"></div>
    <div class="grid lg:grid-cols-4 grid-cols-1 gap-5 pt-12">
    {
        posts.map((post) => (
        <article>
            <div class="relative block">
                <div class="relative h-[350px] sm:h-[400px]">
                    <img width={720} height={360} src={post.data.heroImage} class="rounded-2xl absolute h-full w-full object-cover"  />
                </div>
            </div> 
            <div class=" flex flex-col text-center pt-6">
                    <h3 class="text-2xl font-bold text-black ">{post.data.nombre}</h3>
                    <p class="text-lg font-light text-black">{post.data.puesto}</p>
                </div>          
        </article>
       
        ))
    }
    </div>
</div>
</section>

 -->
