---
---
<div class="fixed right-12 bottom-12 z-10"> 
        <a class=" transition-all text-white text-xl font-bold uppercase bg-[#00ba35] p-3 rounded-md hover:bg-white hover:text-[#00ba35]" target="_blank" href="https://wa.link/l1ctvz">
            WhatsApp <i class="fa-brands fa-whatsapp"></i>
        </a>
</div>